<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to image_tag("logo.gif",alt:"滨文苑"),'#' %></li>
          <li><%= link_to "首页",root_path %></li>
          <li><%= link_to "社区新闻",'#' %></li>
          <li><%= link_to "社区服务",'#' %></li>
          <li><%= link_to "物业",'#' %></li>
          <li><%= link_to "业委会",'#' %></li>
          <li><%= link_to "社区论坛",'#' %></li>
          <li><%= link_to "事物公决",'#' %></li>
          <li><%= link_to "社区微博",'#' %></li>
          <li><%= link_to "个人中心",'#' %></li>
          <li><%= link_to "登陆",'#' %></li>
          <li><%= link_to "注册",users_signup_path %></li>
        </ul>   
      </nav>
    </div>
  </div>
</header>
